.formMain {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3.75rem 0;
}

button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: fit-content;
  height: 3rem;
  padding: .625rem 1.25rem;
  font-size: 1rem;
  font-weight: 500;
  color: var(--grey-0);
  border-radius: 4px;
  transition: 0.3s;
}

button.big {
  height: 3rem;
  width: 100%;
}

button.small,
button.icon {
  background-color: var(--grey-3);
  padding: 0 1rem;
  height: 2rem;
  font-size: .75rem;
  font-weight: 600;
}

button.small:hover,
button.icon:hover {
  background-color: var(--grey-2);
}

button.icon {
  padding: .625rem;
}

button.primary {
  background-color: var(--color-primary);
}

button.primary:hover {
  background-color: var(--color-primary-focus);
}

button.primary.negative {
  cursor: not-allowed;
  background-color: var(--color-primary-negative);
}

button.disabled {
  background-color: var(--grey-1);
}

button.disabled:hover {
  background-color: var(--grey-2);
}